.chart{
    margin: 20px;
    padding: 20px;
    box-shadow: -10px 3px 27px -9px rgba(0,0,0,0.63);
    -webkit-box-shadow: -10px 3px 27px -9px rgba(0,0,0,0.63);
    -moz-box-shadow: -10px 3px 27px -9px rgba(0,0,0,0.63);
}
.chartTitle{
    margin-bottom: 20px;
}